*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(133, 127, 230);
  text-align: center;
}
.myclass{
  display: inline;
  justify-content: space-evenly;
  align-items: end;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamebox{
  height: 60vh;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}
.cell {
  height: 16vmin;
  width: 16vmin;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 0 0 0.5rem black;
  font-size: 9vmin;
  text-align: center;
  color:  #b42121;
  background-color: #ffffc7
}

.msgbox{
 height: auto;
}

#msg{
  color: #b6a91b bolder;
  font-size: 2rem;
}

.reset{
  margin-left: 10px;
  padding: 1vmin;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #191913;
  color: white;
  cursor: pointer;
}

.newgame{
  margin-top: 1.5vmin;
  padding: 1vmin;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #191913;
  color: white;
  cursor: pointer;
}

.reset , .newgame{
  margin-top: 30px;
}

.hide{
  display: none;
}